/* Default setting */
/* Font use:
		font-family: 'Dancing Script', cursive;
		font-family: 'Open Sans Condensed', sans-serif;
		font-family: 'Inconsolata', monospace;
		*/
<style>
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
</style>

html{
	font-size: 14px;
}


/* Bootstrap Overrides */

/**Navigation Bar */


.navbar {
    text-transform: uppercase;   
    background-color: #455570;
}


/* Navigation Bar*/
.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}


.navbar-header a.navbar-brand,
.navbar-nav a{
	color: #ffffff !important;
	font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
}


.navbar a:hover{
    color: #cc2920 !important;
}



/* First Page Intro */
.jumbotron{
	padding: 10rem 0;
	background-color: #ffffff;
	text-align: center;
	font-family: 'Inconsolata', monospace;
}

.jumbotron .card{
	margin-bottom: 0;
}
.jumbotron .card img{
	display: block;
	margin: auto;
	width: 40%;
	padding-bottom: 2rem;
}

h2.card-text{
	text-transform: uppercase;
}

p.card-text{
	padding: 4rem 0;
}

/*for small screens*/
@media(max-width: 683px) {
	.navbar-fixed-top {
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .jumbotron{
		padding: 12rem 0;
		background-color: #ffffff;
		text-align: center;
		font-family: 'Inconsolata', monospace;
	}

    h2.card-text{
		font-size: 2rem;
	}

	p.card-text{
		font-size: 1.5rem;
		padding: 2rem 0;
	}
    
}